<%= form_for [:admin, @book], html: {multipart: true} do |f| %>
  <div class="form-group">
    <%= f.label :title, class: "notice" %>
    <%= f.text_field :title, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :category, class: "notice" %>
    <%= f.select :category_id,
      @categories.collect {|c| [ c.name, c.id ]},
      {prompt: t("books.chose_category")},
      class: "bs-select form-control", "data-live-search" => "true" %>
  </div>

  <div>
    <%= f.label :author, class: "notice" %>
    <%= f.select :author_ids,options_for_select(@authors.collect {|c| [ c.name, c.id ]}),{prompt: "nothing selected"}, {:multiple => true, class: "bs-select form-control", "data-live-search" => "true"} %>
  </div>
  <br>

  <div class="form-group">
    <%= f.label :publisher, class: "notice" %>
    <%= f.select :publisher_id,
      @publishers.collect {|c| [ c.name, c.id ]},
      {prompt: t("books.chose_publisher")},
      class: "bs-select form-control", "data-live-search" => "true" %>
  </div>

  <div class="form-group">
    <%= f.label :price, class: "notice" %>
    <%= f.text_field :price, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :discount, class: "notice" %>
    <%= f.text_field :discount, class: "form-control" %>
  </div>

  <div class="fileinput fileinput-new" data-provides="fileinput">
    <div class="fileinput-new thumbnail avatar_preview">
      <%= image_tag "ava.png" %>
    </div>
    <div class="fileinput-preview fileinput-exists thumbnail ava_exist">
    </div>
    <div>
      <span class="btn default btn-file">
        <span class="fileinput-new">
          <%=  t "select_image" %>
        </span>
        <span class="fileinput-exists">
          <%= t "change" %>
        </span>
        <%= f.file_field :image_url %>
      </span>
      <%= link_to t("remove"), "javascript:;",
        data: {"dismiss": "fileinput"},
        class: "btn default fileinput-exists" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :description, t("description") %> <br>
    <%= f.text_area :description,class: "ckeditor" %>
  </div>

  <div class="form-group">
    <%= f.submit t("save"), class: "btn btn-primary" %>
  </div>
<% end %>
