<div class="portlet light portlet-fit bordered">
  <div class="portlet-title">
    <div class="caption">
      <span class="caption-subject font-dark bold uppercase"><%= t ".books" %></span>
    </div>
    <div class="actions">
      <div class="btn-group">
        <%= link_to t("create_new_book"), new_admin_book_path,
          class: "btn dark btn-outline btn-circle btn-sm" %>
      </div>
    </div>
  </div>
  <div class="portlet-body">
    <div class="table-scrollable">
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th><%= t "stt" %></th>
            <th><%= t "title" %></th>
            <th><%= t "price" %></th>
            <th><%= t "category" %> </th>
            <th><%= t "created_at" %></th>
            <th colspan="2"><%= t "actions" %></th>
          </tr>
        </thead>
        <tbody id="xxx">
          <%= render partial: "book", collection: @books %>
        </tbody>
      </table>
      <%= paginate @books %>
    </div>
  </div>
</div>
