<div class="row" id="productMain">
  <div class="col-sm-3">
    <div id="mainImage">
      <%= image_tag @book.image_url, class: "img-responsive image_medium" %>
    </div>
    <div class="viewed">
      <i class="fa fa-eye" aria-hidden="true"> <%= count_view @book %></i>
    </div>
    <% if @book.discount.present? %>
    <div class="ribbon sale">
      <div class="theribbon">-<%= @book.discount %>%</div>
      <div class="ribbon-background"></div>
    </div>
    <% end %>
    <% if is_new_book? @book.created_at %>
    <div class="ribbon new">
      <div class="theribbon"><%= t "new" %></div>
      <div class="ribbon-background"></div>
    </div>
    <% end %>
  </div>
  <div class="col-sm-6">
    <div class="box">
      <div class="sizes">
        <h3><%= @book.title %></h3>
      </div>
      <p class="price">
        <% if @book.discount.present? %>
          <del class="small_price"><%= format_price @book.price %></del>
        <% end %>
        <%= get_promotion_price @book.price, @book.discount %>
      </p>
      <p class="text-center" id="cart_button">
        <%= render "books/cart_button", item: @book %>
      </p>
    </div>
  </div>
  <div class="project-more col-sm-3">
    <h4><%= t "category" %></h4>
    <% if @book.category.present? %>
      <%= link_to @book.category.name, books_path("search[category]":
        @book.category.id) %>
    <% else %>
      <%= t "updating" %>
    <% end %>

    <h4><%= t "author" %></h4>
    <% if @book.authors.present? %>
      <%= render partial: "author", collection: @authors %>
    <% else %>
      <%= t "updating" %>
    <% end %>

    <h4><%= t "publisher" %></h4>
    <% if @book.publisher.present? %>
      <%= link_to @book.publisher.name, books_path("search[publisher]":
        @book.publisher.id) %>
    <% else %>
      <%= t "updating" %>
    <% end %>

    <h4><%= t "publishing_date" %></h4>
    <p><%= @book.created_at.strftime Settings.format_time %></p>
    <%= social_share_button_tag @book.title %>
  </div>
</div>
<div class="box" id="details">
  <%= @book.description %>
</div>
<div >
  <div class="comment-tabs">
    <ul class="media-list" id="comments">
      <%= render partial: "comments", collection: @comments, as: :comment %>
  </ul>
</div>

</div>
<% if user_signed_in? %>
  <div id="comment-form">
    <h4 class="text-uppercase"><%= t "leave_comments" %></h4>
      <%= form_for Comment.new, remote: true do |f| %>
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <%= f.hidden_field :book_id, value: @book.id %>
              <%= f.hidden_field :user_id, value: current_user.id %>
              <%= f.text_area :content, class: "form-control comment_field",
                rows: Settings.textarea.number_rows %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 text-right">
            <%= f.button :submit, class: "btn btn-template-main" do %>
              <i class="fa fa-comment-o"></i>
              <%= t "post_comment" %>
            <% end %>
          </div>
        </div>
      <% end %>
  </div>
<% else %>
  <%= link_to t("sign_in_to_comment"), new_user_session_path %>
<% end %>
<br><br>
<% if @related_books.present? %>
  <div class="row">
    <div class="col-md-3 col-sm-6">
      <div class="text-uppercase">
        <h3><%= t ".related_books" %></h3>
      </div>
    </div>
    <%= render partial: "related_books", collection: @related_books, as: :item %>
  </div>
<% end %>

