<div class="col-md-12">
  <p class="text-muted lead">
    <%= t ".current_item" %> <%= @line_items.size %> <%= t ".item_in_cat" %>
  </p>
</div>

<div class="col-md-12 clearfix" id="basket">
  <div class="box">
    <form method="post" action="shop-checkout1.html">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th><%= t "image" %></th>
              <th><%= t "title" %></th>
              <th><%= t "quantity" %></th>
              <th><%= t "price" %></th>
              <th><%= t "discount" %></th>
              <th colspan="2"><%= t "total" %></th>
            </tr>
          </thead>
          <tbody id="shopping_cart_item">
            <%= render partial: "line_items/line_items",
              collection: @line_items, as: :line_item %>
          </tbody>
          <tfoot>
            <tr>
              <th colspan="5"><%= t "total" %></th>
              <th colspan="2" id="sub-total"><%= format_price total_price %></th>
            </tr>
          </tfoot>
        </table>

      </div>
      <div class="box-footer">
        <div class="pull-left">
          <a href="shop-category.html" class="btn btn-default"><i class="fa fa-chevron-left"></i> Continue shopping</a>
        </div>
        <div class="pull-right">
          <button class="btn btn-default"><i class="fa fa-refresh"></i> Update cart</button>
          <button type="submit" class="btn btn-template-main">Proceed to checkout <i class="fa fa-chevron-right"></i>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="row">
  <div class="col-md-12 clearfix" id="checkout">
    <div class="box">
      <%= form_for Order.new, method: :post do |f| %>
        <ul class="nav nav-pills nav-justified">
          <li class="active"><a href="#"><%= t "order_information" %></a>
          </li>
        </ul>
        <div class="content">
          <div class="row">
            <%= f.hidden_field :cart_id, value: current_cart.id %>
            <div class="col-sm-6">
              <div class="form-group">
                <%= f.label :name %>
                <%= f.text_field :name, class: "form-control" %>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <%= f.label :email %>
                <%= f.text_field :email, class: "form-control" %>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <%= f.label :phone %>
                <%= f.text_field :phone, class: "form-control" %>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <%= f.label :address %>
                <%= f.text_field :address, class: "form-control" %>
              </div>
            </div>
          </div>
        </div>
        <div class="box-footer">
          <div class="pull-left">
            <a href="shop-basket.html" class="btn btn-default"><i class="fa fa-chevron-left"></i>Back to basket</a>
          </div>
          <div class="pull-right">
            <%= f.button :submit, class: "btn btn-template-main" do %>
              <%= t "checkout_now" %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-3">
    <div class="box text-uppercase">
      <h3>You may also like these products</h3>
    </div>
  </div>
  <div class="col-md-3">
    <div class="product">
      <div class="image">
        <a href="shop-detail.html">
          <img src="img/product2.jpg" alt="" class="img-responsive image1">
        </a>
      </div>
      <div class="text">
        <h3><a href="shop-detail.html">Fur coat</a></h3>
        <p class="price">$143</p>

      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="product">
      <div class="image">
        <a href="shop-detail.html">
          <img src="img/product3.jpg" alt="" class="img-responsive image1">
        </a>
      </div>
      <div class="text">
        <h3><a href="shop-detail.html">Fur coat</a></h3>
        <p class="price">$143</p>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="product">
      <div class="image">
        <a href="shop-detail.html">
          <img src="img/product1.jpg" alt="" class="img-responsive image1">
        </a>
      </div>
      <div class="text">
        <h3><a href="shop-detail.html">Fur coat</a></h3>
        <p class="price">$143</p>
      </div>
    </div>
  </div>
</div>
