<tr>
  <td> <%= user_counter + 1 %> </td>
  <td> <%= user.avatar %> </td>
  <td> <%= user.name %> </td>
  <td> <%= user.email %> </td>
  <td> <%= user.role %> </td>
  <td>
    <%= link_to t("view"), "#",
      class: "btn btn-sm grey-salsa btn-outline" %>
  </td>
  <td align="center">
    <%= link_to t("edit"), edit_admin_user_path(user),
      class: "btn btn-sm grey-salsa btn-outline" %>
  </td>
  <td align="center">
    <%= link_to t("destroy"), admin_user_path(user.id),
      method: :delete, data: {confirm: t("sure")},
      class: "btn btn-sm grey-salsa btn-outline" %>
  </td>
</tr>
