<div class="portlet light portlet-fit bordered">
  <div class="portlet-title">
    <div class="caption">
      <span class="caption-subject font-dark bold uppercase">
        <%= t "users_management" %></span>
    </div>
  </div>
  <div class="portlet-body">
    <div class="table-scrollable">
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th> # </th>
            <th> <%= t "name" %> </th>
            <th> <%= t "email" %> </th>
            <th> <%= t "role" %> </th>
            <th colspan="2"> <%= t "actions" %> </th>
          </tr>
        </thead>
        <tbody id="tbluser">
          <%= render partial: "user", collection: @users %>
        </tbody>
      </table>
      <%= paginate @users %>
    </div>
  </div>
</div>
