<tr>
  <td>
    <%= link_to "#" do %>
      <%= image_tag line_item.book.image_url %>
    <% end %>
  </td>
  <td>
    <%= link_to "#" do %>
      <%= line_item.book.title %>
    <% end %>
  </td>
  <td>
    <input type="number" id="<%= line_item.id %>"
      value="<%= line_item.quantity %>"
      class="form-control item-quantity">
  </td>
  <td id="item-price-<%= line_item.id %>">
    <%= format_price line_item.book.price %></td>
  <td id="item-discount-<%= line_item.id %>">
    <% if line_item.book.discount.present? %>
      <%= line_item.book.discount %>%
    <% end %>
  </td>
  <td id="item-total-<%= line_item.id %>" class="item-total-price">
      <%= format_price count_total_price line_item %>
  </td>
  <td>
    <%= link_to line_item_path(line_item), remote: true,
      method: :delete do %>
      <i class="fa fa-trash-o"></i>
    <% end %>
  </td>
</tr>
