<header>
  <div id="top">
    <div class="container">
      <div class="row">
        <div class="col-xs-5 contact">
          <p class="hidden-sm hidden-xs">
            <%= t "contact_info" %>
          </p>
        </div>
        <div class="col-xs-7">
          <div class="login">
            <% if user_signed_in? %>
              <%= link_to edit_user_registration_path do %>
                <i class="fa fa-user"></i>
                <span class="hidden-xs text-uppercase">
                  <%= t "hi" %> <%= current_user.name %>
                </span>
              <% end %>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <%= t "sign_out" %>
              <% end %>
            <% else %>
              <%= link_to new_user_session_path do %>
                <i class="fa fa-sign-in"></i>
                <span class="hidden-xs text-uppercase"><%= t "sign_in" %></span>
              <% end %>
              <%= link_to new_user_registration_path do %>
                <i class="fa fa-user"></i>
                <span class="hidden-xs text-uppercase">
                  <%= t "sign_up" %></span>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar-affixed-top" data-spy="affix" data-offset-top="200">
    <div class="navbar navbar-default yamm" role="navigation" id="navbar">
      <div class="container">
        <div class="navbar-header">

          <%= link_to root_path, class: "navbar-brand home" do %>
            <img src="/assets/universal/logo.png" alt="Universal logo"
              class="hidden-xs hidden-sm main_logo">
            <img src="/assets/universal/logo-small.png" alt="Universal logo"
              class="visible-xs visible-sm">
              <span class="sr-only"><%= t "back_to_home_page" %></span>
          <% end %>

          <div class="navbar-buttons">
            <button type="button" class="btn btn-info btn-lg"
              data-toggle="modal" data-target="#myModal">
              <%= t "filter_book" %>
            </button>

            <button type="button" class="navbar-toggle btn-template-main"
              data-toggle="collapse" data-target="#navigation">
              <span class="sr-only"><%= t "toggle_navigation" %></span>
              <i class="fa fa-align-justify"></i>
            </button>
          </div>
        </div>
        <div class="navbar-collapse collapse" id="navigation">
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <%= link_to t("home"), root_path %>
            </li>
          </ul>
        </div>
        <div class="collapse clearfix" id="search">
          <form class="navbar-form" role="search">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search">
              <span class="input-group-btn">
                <button type="submit" class="btn btn-template-main">
                  <i class="fa fa-search"></i>
                </button>
              </span>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</header>
<%= render "shared/filter_form" %>
