<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="robots" content="all,follow">
    <meta name="googlebot" content="index,follow,snippet,archive">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title><%= t "book_store" %></title>
    <%= csrf_meta_tags %>
    <meta name="keywords" content="">
    <%= stylesheet_link_tag "front_end", media: "all",
      "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag "front_end",
      "data-turbolinks-track": "reload" %>
  </head>

  <body>
    <%= render "layouts/header" %>
    <div id="content">
      <div class="container">
        <div class="row">
          <% flash.each do |key, value| %>
            <div class="alert alert-<%= key %>">
              <button type="button" class="close" data-dismiss="alert">
                <span aria-hidden="true">&times;</span>
                <span class="sr-only"><%= t "close" %></span>
              </button>
              <%= value %>
            </div>
          <% end %>
          <%= yield %>
        </div>
      </div>
      <%= render "layouts/footer" %>
    </div>
  </body>
</html>
