<p><%= t "hello" %> <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p><%= t ".notify_email_change" %> <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p><%= t ".notify_email_change" %> <%= @resource.email %>.</p>
<% end %>
