<div class="col-md-8 col-md-offset-2">

  <h2 class="center_title">Sign up</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div class="field">
      <%= f.label :name, class: "col-md-5" %>
      <%= f.text_field :name, class: "col-md-7" %>
    </div>
    <br><br>
    <div class="field">
      <%= f.label :email, class: "col-md-5" %>
      <%= f.email_field :email, autofocus: true, class: "col-md-7" %>
    </div>
    <br><br>
    <div class="field">
      <%= f.label :password, class: "col-md-5" %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %>
      <%= f.password_field :password, autocomplete: "off", class: "col-md-7" %>
    </div>
    <br><br>

    <div class="field">
      <%= f.label :password_confirmation, class: "col-md-5" %>
      <%= f.password_field :password_confirmation, autocomplete: "off",
        class: "col-md-7" %>
    </div>
    <br><br>
    <div class="field">
      <%= f.label :avatar, class: "col-md-5" %>
      <div class="col-md-7 no_padding">
        <div class="fileinput fileinput-new" data-provides="fileinput">
          <div class="fileinput-new thumbnail"
            style="width: 200px; height: 150px;">
            <img src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=no+image" alt="" />
          </div>
          <div class="fileinput-preview fileinput-exists thumbnail"
            style="max-width: 200px; max-height: 150px;">
          </div>
          <div>
            <span class="btn default btn-file">
              <span class="fileinput-new">
                <%=  t "Select image" %>
              </span>
              <span class="fileinput-exists">
                <%= t "Change" %>
              </span>
              <%= f.file_field :avatar %>
            </span>
            <%= link_to t("remove"), "javascript:;",
              data: {"dismiss": "fileinput"},
              class: "btn default fileinput-exists" %>
          </div>
        </div>
      </div>
    </div>
    <div class="actions">
      <%= f.submit "Sign up" %>
    </div>
  <% end %>

  <%= render "users/shared/links" %>
</div>
